ruff==0.5.1
pytest==7.4.4 
apscheduler==3.10.4
fastapi==0.115.6
uvicorn[standard]==0.32.1
requests
ipython==7.34.0
pydantic_settings==2.6.1
SQLAlchemy==2.0.35
jinja2==3.1.2
thinc==8.3.4
joblib
psycopg2==2.9.10
pandas==2.2.2
## add python modules here
python-multipart==0.0.20
googletrans==4.0.2
langchain==0.3.27
langchain-community==0.3.27
thefuzz==0.22.1
langchain-openai==0.3.30
langchain-postgres==0.0.15
psycopg[binary,pool]==3.2.9
langchain-huggingface==0.3.1
scikit-learn==1.7.2
matplotlib==3.10.7
seaborn==0.13.2
spacy==3.8.7
datasets==4.3.0